Project Pertama - Agung Nugroho/Library/* 
Project Pertama - Agung Nugroho/Logs/* 
Project Pertama - Agung Nugroho/Temp/* 
 
Project Pertama - Agung Nugroho/.vsconfig 
Project Pertama - Agung Nugroho/*.sln 